#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-box {
  box-sizing: border-box;
  max-width: 1280px;
  background-color: #043847;
  margin: 2rem auto !important;
  padding: 1.5rem 1rem;
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: aliceblue !important;
}